root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
tab_width = 4
indent_size = 4
indent_style = tab

[{*.go,go.mod,go.sum}]
tab_width = 8
indent_size = 8
indent_style = tab

[{Makefile,*.mk}]
tab_width = 8
indent_size = 8
indent_style = tab
